#logo {
    max-width: 25%;
    max-height: 25%;
    position: fixed !important;
    display: block;
    border-radius: 1em;
    box-shadow: 0 0 12px rgba(33,33,33,1); 
    opacity: 90%;
}
#header_wrap {
    padding: 10px;
}
#navigation {
    width: 20%;
    background-color: #EAF2F8;
    margin-top: 7.5%;
    margin-left:2.5%;
    padding: 0;
    position: fixed;
    height: 30%;
    font-size: 125%;
    overflow: auto;
    border-radius: 1em;
    box-shadow: 0 0 12px rgba(33,33,33,1); 
    opacity: 90%;
}
#navigation ul {
    list-style-type: none;
}
#navigation li a {
    display: flex;
    flex-direction: column;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
}
#navigation li a.active {
    background-color: #2471A3;
    color: white;
}
#navigation li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.little_icons img{
    width: 5%;
    border-radius: 50%;
    margin: 0px 5px;
}
#doggo {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5%;
}
#doggo a {
    color:white;
    font-size: 1.5em;
}