@import "react-alice-carousel/lib/alice-carousel.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
#full_body_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left:20%;
}
#image_wrap {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items: center;
    justify-self: center;
    padding: 10px;
    margin: 10px;
    width: 70%;
    border: 2px solid black;
    border-radius: 1em;
    transition: box-shadow .3s;
    background-color: white;
}
#image_wrap:hover {
    box-shadow: 0 0 12px rgba(33,33,33,1); 
}

.text_wrap {
    margin:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}
.text_wrap a {
    color:blue;
    font-weight: bold;
    font-family: 'Source Serif Pro', serif;
}
#line_break {
    width: 100%;
}
img {
    width:100%;
    height:auto;
}
h3 {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
h2{
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}
h1 {
    text-align: center;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}
p{
    font-family: 'Ubuntu', sans-serif;
}
#HeadShotImg {
    border: 1px solid black;
    border-radius: 50%;
    width:25%;
    margin: 10px;
}
#resume_button {
    border-radius: 1em;
    height: 3em;
    padding: 5px;
    background-color: #2471A3;
    color: white;
    transition: box-shadow .3s;
    font-weight: bold;
}
#resume_button:hover {
    box-shadow: 0 0 12px rgba(27, 27, 27, 0.4); 
}
.full_page_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left:20%;
}

.contact_page_wrapper {
    border: 2px solid black;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 65%;
    transition: box-shadow .3s;
    background-color: white;
}
.contact_page_wrapper:hover {
    box-shadow: 0 0 12px rgba(33,33,33,1); 
}
#form_wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.google_maps {
    color: black;
    overflow: hidden;
    text-align: center;
}
#boldMe {
    font-weight: bold;
    font-size: 1.05em;
}

#main_page_h1 {
    margin-left:20%;
    color: white;
    text-shadow: 0 0 12px rgba(33,33,33,1);
}

@media only screen and (max-width: 720px) {
    #image_wrap {
        width: 80%;
    }

}

#background {
    background-image: url("../src/static/Background1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#CoffeeShopBG {
    background-image: url("../src/static/coffeeBG.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#SWBG {
    background-image: url("../src/static/SWBG.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 55%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#EventBG {
    background-image: url("../src/static/eventBG.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}